@font-face {
	font-family: 'BaskervilleURWNar-Bol';
	src: url('../fonts/BaskervilleURWNar-Bol.eot');
	src: url('../fonts/BaskervilleURWNar-Bol.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/BaskervilleURWNar-Bol.woff') format('woff'),
	     url('../fonts/BaskervilleURWNar-Bol.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'FranklinGothicURW-Boo';
	src: url('../fonts/FranklinGothicURW-Boo.eot');
	src: url('../fonts/FranklinGothicURW-Boo.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FranklinGothicURW-Boo.woff') format('woff'),
	     url('../fonts/FranklinGothicURW-Boo.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}
@font-face {
	font-family: 'Tiempos Headline Medium';
	src: url('../fonts/TiemposHeadline-Medium.eot');
	src: url('../fonts/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/TiemposHeadline-Medium.woff') format('woff'),
	     url('../fonts/TiemposHeadline-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}