html {
    font-family: "CeraBasic-Regular";
    font-family: "Texta-Regular";
    font-family: "FranklinGothicURW-Boo";
    font-size: 13px;
    color: #333;
}
html.gray {
  background: #f5f5f5;
}
body {
  font-family: "FranklinGothicURW-Boo", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
}

/* Colors */
:root {
  --yellow: yellow;
  --green: lightgreen;
  --pink: pink;
  --blue: lightblue;
  --orange: orange;
  --very-light-yellow: rgb(255, 250, 224);
  --very-light-yellow-darker: rgb(204, 199, 170);
  --very-light-yellow-darkest: rgb(86, 83, 66);
  --darkgray: rgb(29, 26, 35);
  --darkblue: rgb(9, 8, 21);
}

.line {
  /*height: 400px;*/
  width: 100%;
  background: white;
  margin: 10em 0;
  position: relative;
  top: 0;
}
.container-full {
    max-width: 100%;
    align-items: center;
    padding: 0 0 0 8vw;
}
.container-1200 {
    max-width: 1400px;
    align-items: center;
    padding: 1em 0;
}
.master {
  padding-top: 4%;
  padding-bottom: 8em;
}
.container-400 {
    min-width: 400px;
    max-width: 400px;
    padding: 0 40px;
}
.container-600 {
    /* min-width: 600px; */
    max-width: 600px;
    /* padding-right: 4em; */
    padding: 2rem 0 0.4rem 0;
}

.container-600.last {
  padding-bottom: 4rem;
}

.extra-pad {
  padding-right: 8em;
  padding-top: 6em;
  padding-bottom: 2em;
}
.container-800 {
  max-width: 800px;
}
.container-900 {
  max-width: 900px;
}
.container-1000 {
  width: 1000px;
  /*padding: 0 40px;*/
}
.container-40 {
    width: 40%;
    padding: 2.5%;
}
.aside {
  /*max-width: 50%;*/
  margin-left: 8em;
}
.aside img {
  width: 100%;
}

img.likes {
  width: 600px;
  border-radius: 2rem;
}

.padding-top-7 {
  padding-top: 7em;
}
.full-width {
  width: 100%;
}
#story-arc-animation {
  position: fixed;
  top: 0;
  left: 50%;
}
#firstLottie, #where-is-north, #you-are-here {
    filter: invert(100%);
    padding: 6em 0;
}
#firstLottie {
  width: 1000px;
}
#where-is-north, #you-are-here {
  /*width: 1200px;*/
}
path.you-are-here {
  fill: black;
  stroke: black;
}
.center {
    margin: 0 auto;
}
.flex {
   display: flex;
   flex-wrap: wrap;
   /*justify-content: center;*/
   align-items: flex-start;
   gap: 0 6rem;
}
.flex.align-center {
  align-items: center;
}
.column {
   padding-top: 5%;
}
.column-10 {
   width: 15%;
}
.column-90 {
   width: 85%;
}
.resume {
   /*border-left: 2px solid #ccc;*/
   /*background: #eee;*/
}
.hello {
    font-family: 'TiemposHeadline-Medium';
    font-size: 4em;
    margin-top: -0.25em;
}
.header {
   padding: 5em 0 10em 0;
}
#cv-intro {
  display: none;
}
p, ol, ul {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   font-size: 1.7em;
   line-height: 1.5em;
   margin: 0;
}
p.smaller {
  font-size: 1.4em;
}
ul {
  /* font-size: 1.5em; */
  /* line-height: 1.3em; */
}
.bright {
  opacity: 1;
}
sub.sub {
  font-size: 1.2em;
  line-height: 1.2em;
  opacity: 0.75;
  display: block;
  margin-left: 1.4em;
}
sup {
  font-family: "FranklinGothicURW-Boo", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 0.6em;
  opacity: 0.75;
}
h1 {
    font-family: 'TiemposHeadline-Medium';
    font-size: 5em;
    padding: 0 0 3em 0;
    margin: 0;
    line-height: 0.9em;
    letter-spacing: -0.02em;
    font-weight: 700;
}
h1.non-front-page {
    padding-bottom: 1em;
    font-size: 7em;
}
h2 {
   font-family: 'TiemposHeadline-Medium';
   font-size: 2.8em;
   /* margin: 2em 0 1.3em 0; */
}
h3 {
    font-size: 2em;
    font-family: 'Henrietta Regular';
    letter-spacing: 0.05rem;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    margin: 1em 0 0.2em;
}

span.like-number {
    font-size: 1.2rem;
    font-family: 'Henrietta Regular';
    letter-spacing: 0.08rem;
    padding: 0.4rem 1rem 0.5rem 1rem;
    background: var(--very-light-yellow);
    border-radius: 5rem;
    margin-bottom: 2rem;
    color: var(--darkblue);
}

header {
  
}

h3.likes {
  font-family: "Henrietta Regular";
  /* opacity: 0.5; */
  padding-top: 8rem;
  font-size: 1.6rem;
}

details summary {
  margin: 0.4em 0 0.2em 0;
  font-size: 1.4em;
  cursor: pointer;
  text-decoration: underline #ccc;
}

.dataviz {
  padding: 1rem 0 2rem 0;
}

.dataviz > h3 {
  padding: 0 0 1rem 0;
}

@-moz-document url-prefix(){
    h1, h2, h3 {
        letter-spacing: -0.04em;
    }
    .job-title {
        letter-spacing: -0.02em;
    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    h1, h2 {
        letter-spacing: -0.04em;
    }
    .job-title {
        letter-spacing: -0.03em;
    }
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 1.2em;
  padding: 0.2em;
  line-height: 140%;
  /* color: #555; */
  /* white-space: nowrap; */
}
ul {
   padding-inline-start: 1em;
   list-style-type: disc;
   margin: 0;
}
li {
   padding-bottom: 0.5em;
}
a.project-link {
  background: none;
  /* display: block; */
}
a, a:visited, span.gray {
   color: #333;
   text-decoration: none;
   background: linear-gradient(to bottom, transparent 0%, transparent 60%, #e2e2e2 60%, #e2e2e2 100%);
}
a.simple {
  background: none;
  text-decoration: underline;
}
a.green, span.green {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, #A5F2C9 60%, #A5F2C9 100%);
}
a.blue, span.blue {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, #ABDCFC 60%, #ABDCFC 100%);
}
a.yellow {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, #F7EB97 60%, #F7EB97 100%);
}
span.yellow {
  background: #F7EB97;
  padding: 6px 0 0 0;
}
a.pink, span.pink {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, #FFAEFD 60%, #FFAEFD 100%);
}
a.orange, span.orange {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, #FFC4A5 60%, #FFC4A5 100%);
}
a:hover {
  background-size: 80%;
}
span.why {
  font-family: 'TiemposHeadline-Medium';
  font-size: 0.9em;
}
img.project-thumb {
   max-width: 100%;
   border-radius: 2em;
}
.project-teasers {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 2.5%;
  display: none;
}
.project-teaser {
  border: 1px dashed rgb(101, 105, 121);
  border-radius: 1.1em;
  width: fit-content;
  max-width: 400px;
  margin: 8em 3em 4em 0;
  transition: 0.25s;
}
.project-teaser:hover {
  /* box-shadow: 5px 4px 2px 1px rgba(63, 63, 106, 0.201); */
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(13, 8, 23, 0.02),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.03),
    22.3px 22.3px 17.9px rgba(8, 8, 23, 0.035),
    41.8px 41.8px 33.4px rgba(15, 11, 27, 0.05),
    100px 100px 80px rgba(18, 16, 31, 0.055)
  ;
  border: 1px dashed rgb(9, 9, 69);
  transition: 0.15s;
}
/* .project-teaser.orange {
  border: 2px solid #d2875f;
}
.project-teaser.green {
  border: 2px solid #60ce93;
}
.project-teaser.blue {
  border: 2px solid #6fa2c4;
}
.project-teaser.pink {
  border: 2px solid #d270d0;
} */
.teaser {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 5% 0 0 0;
}
.tile {
  width: 64px;
  height: 64px;
  border: 1px solid #555;
  margin-right: 5%;
  border-radius: 50px;
  display: none;
}
.description {
  font-size: 1.7em;
  line-height: 1.4;
  width: 60%;
  color:#777;
}
.teaser-description.home {
  width: fit-content;
  padding: 2em 2em 1.2em 2em;
}
.teaser-title {
  font-family: "TiemposHeadline-Medium";
  font-size: 1.7em;
  padding: 0 0 0.2em 0;
  line-height: 1.2;
}
.teaser-description {
  max-width: 460px;
  padding: 0;
  /* margin-left: 2.1em; */
}
img.teaser-image {
  width: 112px;
  border-radius: 56px;
  margin-bottom: 0.6em;
  /* margin-right: 2.1em; */
}
img.teaser-image-rect {
  width: 100%;
  border-radius: 1em 1em 0 0;
}
/* TIMELINE */
.timeline {

}
.timeline-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 5%;
    padding-top: 4em;
}
.experience-logo {
  width: 50px;
  height: 50px;
  
  margin-right: 2em;
}
.experience-logo img {
  width: 100%;
  border-radius: 50px;
  margin-top: 2.6em;
}
.timeline-meta {
    font-size: 1.2em;
    padding-right: 1.6em;
    width: 150px;
    text-align: right;
    /*border-right: 1px solid #EAEAEA;*/
    color: #999;
    /*margin-top: 2.8em;*/
}
.white {
   color: white;
}
.hide {
    display: none
}

.large {
    font-size: 1.9em;
    line-height: 1.4em;
}
.larger {
    /*font-family: 'TiemposHeadline-Medium';*/
    font-size:2.2em;
    line-height: 1.2em;
}

span.toggle-link {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
.lean-container {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    z-index: 12;
    width: 250px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition-duration: .3s;
}
.circle {
   width: 100px;
   height: 100px;
   background: white;
   border: 2px solid black;
   border-radius: 100px;
   text-align: center;
   vertical-align: middle;
   line-height: 100px;
   font-size: 1.2em;
   transform: rotateZ(0)deg;
   transition-duration: .3s;
}
blockquote {
    margin: 0;
    font-style: italic;
    font-size: 0.8em;
    /*border-left: 4px solid black;*/
    /*border: 2px solid black;*/
    /*border-radius: 0.6em;*/
    /*padding: 2em 2em 0 2em;*/
    /*background: #f5f5f5;*/
    line-height: 1.3em;
    display: contents;
}

blockquote.likes {
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: 0rem 0 0 2rem;
  display: block;
  border-left: 2px solid var(--very-light-yellow);
}

a.likes {
  color: var(--orange);
  text-decoration: none;
}

details > summary.likes {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--very-light-yellow-darker);
}

details > p {
  font-size: 1.2rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.flex-user-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2.1em;
}
.flex-project-teaser-meta {
  display: flex;
  flex-direction: column; 
}
.quote {
  /* padding: 1.5em 2em; */
  /* background: #f5f5f5; */
  /*border-radius: 2em;*/
  /* border: 1px solid #555; */
  margin: 2em 0 4em;
  font-family: "Tiempos Text";
  font-style: italic;
  font-size: 0.85em;
  width: 450px;
}
.head {
  padding: 3em 0 0 0;
  margin-right: 2em;
  width: 130px;
}
.head > img {
  width: 88px;
  padding-bottom: 0.8em;
}
.weird-quote {
  font-family: 'TiemposHeadline-Medium';
  font-size: 2.4em;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  padding: 2em 0 3em 0;
}
#circle {
    position: absolute;
    z-index: 3;
    margin-left: 175px;
    margin-top: 100px;
}
#white-circle {
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100px;
    margin-left: 199px;
    margin-top: 92px;
}
.circle-move {
    margin-left: 204px !important;
    margin-top: 92px;
}
span.tag {
  background: rgb(233, 233, 233);
  padding: 0.2em 0.4em;
  margin: -0.1em 0 0 0.3em;
  border-radius: 0.2em;
  font-size: 0.8em;
}
.rotate {
    transform: rotateZ(120deg);
    transition-duration: .3s;
}
.counter-rotate {
    transform: rotateZ(-120deg);
    transition-duration: .3s;
}
.plane-event {
   /*background: #f5f5f5;*/
   padding: 1.4em;
   max-width: 540px;
   position: absolute;
   font-size: 1.4em;
   /*font-family: "Tiempos Headline Medium";*/
   border-radius: 2em 7em 3em 4em;
   display: flex;
   align-items: center;
   margin-bottom: 1em;
   border: 0 dashed #555;
}
#airplane {
  /*offset-path: path('M0,20 C20,100 200,0 200,100');*/
  /*offset-path: path("M0,126.532671 C33.2158609,136.044155 71.8019508,139.71004 115.75827,137.530325 C209.916481,132.861188 243.132367,105.739917 245.060265,75.7056801 C249.715649,3.18061639 144.932562,-8.11427057 144.996183,75.7056801 C145.059804,159.525631 284.025445,145.555639 335.639313,126.532671 C387.253181,107.509704 393.359989,76.0029139 420.071247,67.0858979 C437.878752,61.1412206 454.188337,59.9522851 469,63.5190915");*/
  offset-path: path("M0 144.775C76.5854 146.509 182.838 189.708 331.656 207.221C508.54 228.036 789.093 126.581 931.093 81.1164C1163.12 6.82899 1824.51 130.641 1939.19 130.641C2193 130.641 2222.1 75.1885 2513 55C2700.46 41.9904 2701 130.641 2969 157C3113.49 171.211 3828.92 101 4001 101");
  animation: move 12000ms infinite ease-in;
  width: 40px;
  height: 40px;
  background: url(../assets/paper_plane.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  left: -10%;
  margin-top: 0;
  transform: rotate(15deg);
}
.disclaimer {
  font-size: 1.2em;
  color: 1.2em;
  padding: 0 0 1em 0;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
.plane-window {
   border: 2px solid #555;
   background: white;
   width: 1em;
   height: 1.2em;
   border-radius: 0.5em;
   margin-right: 0.4em;
}
.empty {
   border: none;
   background: none;
}
.avatar {
   background: url(assets/avatar.jpg) center center no-repeat;
   background-size: cover;
}
.plane-label {
   margin-right: 1em;
   margin-left: 0.5em;
   margin-top: 0.2em;
}
.plane-triangle {
   width: 0;
   height: 0;
   /*border-bottom: 4em solid #f5f5f5;*/
   /*border-right: 3em solid transparent;*/
   /*margin-left: 1.5em;*/
}
.job-title {
    font-size: 2.5em;
    font-family: 'TiemposHeadline-Medium';
    font-weight: 800;
    padding-bottom: 0.4em;
}
.date {
  padding: 0.2em 0;
  color: #777;
  font-size: 1.4em;
}
video {
  padding-bottom: 0.4em;
}
.spacer-4em {
  height: 4em;
}
.spacer-8em {
  height: 8em;
}
form {
  width: 400px;
  margin: 0 auto;
  font-family: "FranklinGothicURW-Boo", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.2em;
  padding-top: 6em;
}
input {
  padding: 0.5em;
  margin: 0.2em;
}
input[type="password"] {

}
input[type="submit"] {
  /* background: white;
  font-size: 0.9em;
  border: 1px solid black; */
}
h1.crb {
  padding-bottom: 0.2em;
}

/* CASES */
.case-meta {
  font-size: 1.6em;
  padding-top: 2em;
}
table {
  /* padding: 1.5em 1.2em 1.2em 1.4em;
  border: 1px solid #888;
  border-radius: 0.4em; */
}
tr {
  vertical-align: baseline;
  line-height: 1.2em;
  padding: 0.6em;
  margin-bottom: 0.3em;
  /* background: #f5f5f5; */
}
tr.alt {
  /* background: white; */
}
td.key {
  padding-right: 0.6em;
  color: #777;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  white-space: nowrap;
}
td.value {
  padding-bottom: 0.4em;
}
.decrease-distance {
  position: absolute;
  margin-left: -5em;
  margin-top: 0.5em;
  height: 230px;
}
.case-image {
  margin: 4em 8vw 4em 0;
}
.case-image > img {
  /* padding: 2em 0; */
  box-shadow: 0px 20px 40px 4px rgba(11, 15, 38, 0.16);
  /* border: 30px solid #fff; */
  border-radius: 15px;
  margin-bottom: 0.6em;
}
img.hand {
  box-shadow: none;
  position: absolute;
  width: 723px;
  margin-top: 550px;
  margin-left: -378px;
  z-index: 10;
}
.chart {
  margin: 0;
  max-width: 1200px;
  width: 1000px;
}
.code-container {
  border-left: 2px solid #555;
}
span.code {
  background: #4479eb19;
  /* padding: 0.4em 0.6em; */
  font-family: "Tiempos Text";
  font-size: 0.85em;
  color: rgb(0, 0, 136);
}
.distance-data-hero {
  /* background: url(../../portfolio/img/key-figures-012.jpg) no-repeat center center;
  background-size: cover; */
}

@media (max-width: 640px) {
  html {
    width: 100%;
  }
  body {
    width: 100%;
    margin: 0;
    font-size: 1.2em;
  }
  .header {
    margin-bottom: 4em;
  }
  .container-full {
    padding: 0 20px;
    width: 100%;
  }
  .container-1200 {
    /*width: 100%;*/
  }
  .container-600, .container-900 {
    max-width: 100%;
    /* min-width: 100px; */
    width: 100%;
    /* padding: 0; */
  }
  .flex-reverse {
    display: flex;
    flex-direction: column;
  }
  .extra-pad {
    padding: 1.6em 20px;
  }
  .project-teaser {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }
  img.likes {
    width: 100%;
  }
  details summary {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3em;
    padding-bottom: 1.5em;
  }
  h1.non-front-page {
    font-size: 4em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.5em;
  }
  p, ol, ul, .case-meta {
    font-size: 1.4em;
  }
  p.twitter {
    padding: 0 20px;
  }
  p.large {
    font-size: 1.4em;
  }
  p.smaller {
    font-size: 1.2em;
  }
  .larger {
    font-size: 1.4em;
  }
  .timeline {
    margin-left: 0;
  }
  .timeline-meta {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    text-align: left;
    font-size: 1em;
  }
  .timeline-experience {
    padding-bottom: 2em;
    max-width: 100%;
  }
  .job-title {
    font-size: 2em;
  }
  .date {
    font-size: 1em;
  }
  .teaser-description {
    /* width: 75%; */
  }
  img.teaser-image {
    width: 72px;
  }
  .case-image {
    margin: 0;
    padding: 0 20px;
  }
  .case-image > figcaption {
    font-size: 1em;
  }
  .flex-user-quote {
    margin-right: 3%;
    width: 22%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .flex-user-quote > figcaption {
    font-size: 1em;
    white-space: nowrap;
    padding-left: 1em;
  }
  .case-meta {
    padding-bottom: 2em;
  }
}
footer {
  padding: 4em 0;
}
/*
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  body, html.gray {
    background: var(--darkblue);
    color: #EDEAEA;
  }
  a, a:visited, a.simple, a.green, a.orange, a.yellow, a.pink, a.blue, span.green, span.orange, span.pink, span.blue {
    color: #F2E06F;
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, #2F2E6B 60%, #5452B7 100%);
  }
  a.project-link {
    background: none;
    color: white;
  }
  span.yellow, span.yellow > a {
    /* color: black; */
    background: none;
  }
  span.yellow > a {
    /* text-decoration: underline;; */
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, #2F2E6B 60%, #5452B7 100%);
  }
  .date {
    color: #c95d6b;
  }
  span.toggle-link, td.key {
    color: #F2E06F;
  }
  #firstLottie, #where-is-north, #you-are-here {
    filter: none;
  }
  .quote {
    background: none;
    /* border: 3px solid #424097; */
    color: #ccc;
  }

  figcaption {
    color: var(--very-light-yellow);
    line-height: 140%;
  }
  #airplane {
    filter: invert(1);
  }
  .decrease-distance {
    filter: invert(0.9);
  }
  td.key {
    color: #aaa;
  }
  span.code {
    background: #1f1d3c54;
    color: rgb(137 155 255);
  }
  span.code > b, .quote > p > b {
    color: #c95d6b;
  }
}
/*
 * Print style
 */
@media print {
  html, body, .resume, .header, .master {
    margin: 0;
    padding: 0;
  }
  body {
    color: black;
    font-size: 14px;
    padding: 2em;
  }
  .flex {
    display: block;
  }
  .container-1200 {
    max-width: 95%;
    margin: 0;
    padding: 0;
  }
  .container-600 {
    width: 100%;
    margin: 0; 
    padding: 0;
  }
  h1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2em;
  }
  .job-title {
    font-size: 1.5em;
    padding: 0;
    padding-bottom: 0.4em;
  }
  p, ol, ul {
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    line-height: 1.4em;
  }
  p {
    font-size: 1.1em;
  }
  a {
    text-decoration: underline;
  }
  p.large {
    font-size: 1.1em;
  }
  span.contact-info {
    padding-right: 1em;
  }
  ul {
    font-size: 1.1em;
  }
  li {
    padding-bottom: 0.2em;
  }
  .timeline-item {
    padding: 0;
    margin-bottom: 0;
  }
  .date {
    font-size: 1em;
    padding: 0;
    color: #555;
  }
  #cv-intro {
    display: block;
  }
  #airplane, sub.sub, sup, #intro, .twitter {
    display: none;
  }
}